<header th:replace="header"></header>
<div class="container">
    <div class="postCar" th:each="post: ${posts}">
        <div class="carPhoto">
            <img src="https://img.favcars.com/chrysler/300-lx/wallpapers_chrysler_300-lx_2006_9.jpg" alt="">
        </div>
        <div class="content">
            <h3 th:text="${post.car.name + ' ' + post.car.model.name}"></h3>
            <div class="data">
                <div class="first_block">
                    <p class="engine" th:text="${post.car.year.name} + ' г.'"></p>
                    <p class="engine" th:text="${post.car.engine.name} + ' л.с.'"></p>
                </div>
                <div class="second_block">
                    <p class="transmission" th:text="${post.car.transmission.name}"></p>
                    <p class="actuator" th:text="${post.car.actuator.name}"></p>
                </div>
                <div class="third_block">
                    <span class="price">

                    1 500 000 руб.
                    </span>
                </div>
                <div class="fourth_block">
                     <p th:text="${#temporals.format(post.created, 'dd.MM.yyyy')}"></p>
                </div>
                <div class="fifth_block">
                    <a th:href="@{|/post/post/${post.id}|}">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>